// Display mixins
@mixin flex($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin column($align: flex-start) {
    @include flex(column, null, $align);
}

@mixin center {
    @include flex(column, center, center);
}

/* +++ Example usage +++
.container {
    @include flex(row, space-between, center);
}
.wrapper {
    @include column();
}
.box {
    @include center;
} 
*/

// Display mixins end

// Display Grid start
@mixin grid-container($columns: auto, $gap: 10px) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    gap: $gap;
}

// Grid Item Mixin
@mixin grid-item($column: span 1, $row: span 1) {
    grid-column: $column;
    grid-row: $row;
}

// Center Content within Grid Item Mixin
@mixin center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* +++ Example Usage Grid +++
.container {
  @include grid-container(3, 20px);
}

.item1 {
  @include grid-item(1 / span 2, 1);
}

.item2 {
  @include grid-item(2, 2);
}

.centered {
  @include grid-item;
  @include center-content;
}

*/
// Display Grid end

// Font mixins start  
@mixin font($family: sans-serif, $weight: normal) {
    font-family: $family;

    $weights: (
        light: 300,
        normal: 400,
        medium: 500,
        semibold: 600,
        bold: 700
    );

    @if map-has-key($weights, $weight) {
        font-weight: map-get($weights, $weight);
    } @else {
        font-weight: $weight;
    }
}
  
/* +++ Example usage +++
.my-text {
    @include font('Poppins', bold); // Use Poppins font with bold weight
}
*/

// Font mixins end
